<%- include('./includes/header')%>

<body>
    <%- include('./includes/navbar')%>
    <div class="container">

        <!-----------Artists------------->
        <h5 class="card-title" style="margin-top: 20px;">Artists</h5>

        <div class="row">
            <% for(let i =0; i < 6; i++){ %>
            <div class="card" style="width: 10rem; margin-right: 20px; margin-bottom: 10px; ">
                <img style="padding: 10px; flex: auto; width: 10rem; height: 10rem; border-radius: 50%;"
                    src="
                    https://images.pexels.com/photos/2513840/pexels-photo-2513840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <div class="card-body">
                    <h5 class="card-title">Artists </h5>
                </div>
            </div>
            <% } %>
        </div>



        <!-------------Albums------------->

        <h5 class="card-title" style="margin-top: 20px; ">Albums</h5>
        <div class="row">
            <% for(let i =0; i < 6; i++){ %>
            <div class="card" style="width: 10rem; margin-right: 20px; margin-bottom: 10px;">
                <img style="height: 150px; "
                    src="https://images.pexels.com/photos/2513840/pexels-photo-2513840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <% } %>
        </div>


        <!----------------Songs--------------------->

        <h5 class="card-title" style="margin-top: 20px;">Songs</h5>
        <% for(let i =0; i < 6; i++){ %>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <img style="width: 100px; height: 100px;"
                            src="https://images.pexels.com/photos/2513840/pexels-photo-2513840.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            class="card-img-top" alt="...">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                </div>

                <div class="col-md-2">
                    <a style="margin-top: 20px;" href="#" class="btn btn-primary">Play</a>
                </div>
            </div>
            <% } %>
        </div>



        <%- include('./includes/footer') %>